{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    This is the shopping cart page. Proceed to review your items and place the order.
{% endblock %}

{% block title %}
    Sign up - PLATE-STUDIO
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>Sign up</h1>
            <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
        </div>
    </div>
</div>
  
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            {{error}}
        </div>
        <br>
        <div class="col-12">
            <form method = "POST" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control btn-block" id="username" placeholder="username" name="username" style="width:50%">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control btn-block" id="password" placeholder="password" name="password" style="width:50%">
                </div>
                <div class="form-group">
                    <label for="re_password">Re_Password</label>
                    <input type="password" class="form-control btn-block" id="re_password" placeholder="re_password" name="re_password" style="width:50%">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control btn-block" id="name" placeholder="name" name="name" style="width:50%">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control btn-block" id="phone" placeholder="phone" name="phone" style="width:50%">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control btn-block" id="address" placeholder="address" name="address" style="width:50%">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control btn-block" id="email" placeholder="email" name="email" style="width:50%">
                </div>
                <button type="submit" class="btn btn-secondary btn-block my_custom_button"  style="width:50%" onclick="location.href='/shop/'">Sign up</button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}