{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    Welcome to the PLATE-STUDIO where you can buy awesome items.
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - PLATE-STUDIO
    {% else %}
        See Our Products Collection - PLATE-STUDIO
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <p class="text-center my_search_text">You have searched for : <b>"{{ query }}"</b></p>
    </div>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-6 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href = "{{product.get_url}}"><img class="card-img-top my_image" src = "{{product.image.url}}" alt = "{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_text">0 result found.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}