{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    Welcome to the PLATE-STUDIO where you can buy awesome items.
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - PLATE-STUDIO
    {% else %}
        See Our Products Collection - PLATE-STUDIO
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div class="row my-row-class">
            <div class="mx-auto">
                <p><a href = "{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{ category.name }}</p>
            </div>
        </div>
    {% endif %}

    <div>
        <div>
            <h1 class="text-center my_title">Our Products Collection</h1>
            <p class="text-justify">Finding the perfect Product for your kitchen can instantly add to the sense of style throughout your home.
                They can transform the blandest of decor.</p>
        </div>
    </div>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-6 col-md-4 col-lg-4">
                <div class="card text-center" style="width: 18rem;">
                    <a href = "{{product.get_url}}"><img class="card-img-top my_image" src = "{{product.image.url}}" alt = "{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
                <br>
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                        <a href="?page={{pg}}" class="btn btn-light btn sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}